# Disable directory browsing
Options -Indexes

# ----------------------------------------------------------------------
# Rewrite engine
# ----------------------------------------------------------------------

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On

    # Si instalaste CodeIgniter en una subcarpeta, descomenta y ajusta esta línea.
    # Como tu aplicación está en "code4/public", debes especificar esa ruta:
    RewriteBase /code4/public/

    # Redirigir barras finales (Trailing Slashes)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Redirigir "www.example.com" a "example.com" (opcional, coméntalo si no usas "www")
    #RewriteCond %{HTTPS} !=on
    #RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    #RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]

    # Verificar si el archivo o directorio solicitado existe.
    # Si no existe, redirige todas las solicitudes a index.php.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([\s\S]*)$ index.php/$1 [L,NC,QSA]

    # Asegurar que el encabezado de autorización se pase
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule !mod_rewrite.c>
    # Si no tenemos mod_rewrite instalado, redirigir todas las 404 a index.php
    ErrorDocument 404 index.php
</IfModule>

# Desactivar la firma del servidor
ServerSignature Off
